.home {
  background-image: url("/starter-code/assets/home/background-home-desktop.jpg");
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 6rem 6rem 6rem;

  &__text {
    max-width: 475px;
    width: 100%;
    h1 {
      font-size: 1.3rem;
      text-transform: uppercase;
      color: var(--grey);
    }
    h2 {
      font-size: 5rem;
    }
  }
  &__btn {
    height: 15rem;
    width: 15rem;
    font-size: 1.7rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s;
    &:hover {
      box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.3);
    }
  }
}

@media screen and (max-width: 900px) {
  .home {
    background-image: url("/starter-code/assets/home/background-home-tablet.jpg");
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 6rem 2rem;
    &__text {
      text-align: center;
    }
  }
}

@media screen and (max-width: 620px) {
  .home {
    background-image: url("/starter-code/assets/home/background-home-mobile.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3rem 6rem;
    &__text {
      max-width: 375px;
      width: 100%;
      h1 {
        font-size: 1.2rem;
      }
      h2 {
        font-size: 4rem;
      }
    }
    &__btn {
      height: 11rem;
      width: 11rem;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 412px) {
  .home {
    &__text {
      max-width: 375px;
      width: 100%;
      h1 {
        font-size: 1rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
    &__btn {
      height: 11rem;
      width: 11rem;
      font-size: 1.5rem;
    }
  }
}
