.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  figure {
    margin-left: 2rem;
  }
  &__group {
    display: flex;
    gap: 2rem;
    background-color: rgba(0, 34, 68, 0.9);
    padding: 1.5rem 2rem;
  }

  &__link {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--grey);
    position: relative;
    padding: 1.17rem 0;
    &:hover {
      color: var(--white);
    }
  }
}

.navbar__link::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--clr-accent);
  width: 0.1rem;
  transition: width 0.3s;
  bottom: 0;
  opacity: 0.1;
}
.navbar__link:focus::before {
  width: 100%;
  opacity: 1;
}
// SMALL SCREEN SIDEBAR
.menu {
  display: none;
}

// PROGRESS BAR

.progress__wrapper {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.progress {
  h5 {
    font-size: 1rem;
    text-align: center;
    color: var(--white);
  }
}

.circle__wrapper {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.3rem;
}
.circle {
  width: 0.7rem;
  height: 0.7rem;
  border: 1px solid var(--white);
  border-radius: 50%;
}
// small screwn sidebar

@media screen and (max-width: 800px) {
  .menu {
    display: block;
    width: 2.3rem;
    height: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2rem 1rem;

    &__close {
      display: none;
    }
  }
  .change .menu__close {
    display: block;
  }
  .change .menu__open {
    display: none;
  }
  .navbar__group {
    position: absolute;
    top: 3rem;
    right: 0;
    flex-direction: column;
    height: calc(100vh - 3rem);
    width: 55%;
    padding: 4rem;
    background-color: rgba(0, 34, 68, 0.9);
    border-radius: 0.5rem 0 0 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.4);
    z-index: 200;
  }
  .progress__wrapper {
    z-index: 80;
  }
  .change .navbar__group {
    transform: translateX(0);
  }
}
